@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  background-color: rgba(25, 32, 55, 255);
  color: white;
  font-family: "Montserrat", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  height: 80%;
}
::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(116, 103, 239, 255);
}
