.header-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(33, 40, 66, 255);
  box-shadow: 3px 3px 5px rgb(10, 13, 22);
}

.mobile-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  height: 2em !important;
}

.mobile-search h1 {
  width: 30%;
  padding: 0px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(300px, 0px);
  width: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

#menu {
  background-color: rgba(33, 40, 66, 255);
}
.search-bar-container button {
  height: 100%;
  font-size: 2em;
  padding: 0px 5px;
  border: 2px solid white;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
#search-bar-mobile {
  padding: 0px;
  border: 2px solid white;
  height: 100%;
  color: black;
  text-align: center;
  background-color: white;
  font-size: 2em;

  overflow: hidden;
}
.nav-overlay {
  height: 100vh;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  overflow-x: hidden;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.nav-overlay > * {
  margin: 30px 0px;
  padding: 0px;
  height: 1em;
}

#mobile-search-bar {
  display: none;
  transition: all 0.5s ease-in;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10%;
  background-color: rgba(33, 40, 66, 255);
  box-shadow: 3px 3px 5px rgb(10, 13, 22);
}

.header > * {
  background-color: rgba(33, 40, 66, 255);
  margin: 0px;
  padding: 0px;
}
.header h1 {
  transition: all 0.2s ease-in-out;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 20px;
}

.header h1:hover {
  color: rgba(116, 103, 239, 255);
  background-color: rgb(50, 60, 100);
  cursor: pointer;
}

.header input[type="text"] {
  background-color: white;
  font-size: 2em;
  height: 43px;
  border: 0px solid;
  color: black;
  outline: 0px;
}

.header button {
  height: 45px;
  font-size: 2em;
  border: 2px solid white;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.header button:hover {
  background-color: rgba(116, 103, 239, 255);
  cursor: pointer;
}

.header .input {
  display: flex;
  justify-content: center;
  align-items: center;
}
