.userplaylist-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.userplaylist-container > * {
  background-color: inherit;
}

.userplaylist-container h2 {
  text-decoration: underline;
}
.userplaylist-container input[type="text"] {
  background-color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
  color: black;
}

.userplaylist-remove-song {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.userplaylist-remove-song:hover {
  color: rgba(116, 103, 239, 255);
  background-color: white;
  cursor: pointer;
}
.userplaylist-song-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  width: 80%;
  margin: 10px 0px;
  background-color: transparent;
}

.userplaylist-song-card > * {
  background-color: inherit;
}

.userplaylist-song-card:hover {
  background-color: rgb(50, 60, 100);
  cursor: pointer;
}
.userplaylist-song-card img {
  width: 50px;
  height: 50px;
}

.userplaylist-song-card-artist {
  width: 30%;
}

.userplaylist-song-card-name {
  width: 40%;
}
.userplaylist-song-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.upload-playlist-button {
  padding: 30px;
  background-color: rgba(25, 32, 55);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.upload-playlist-button:hover {
  color: rgba(116, 103, 239, 255);
  background-color: rgb(50, 60, 100);
  cursor: pointer;
}
